option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: BharatMenuBackend.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:environment:proxy:  
    ProxyServer: apache
  aws:elasticbeanstalk:application:environment: 
        CELERY_BROKER_URL: sqs://    
